#contact {
  background-color: #fffcf5;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: #4a453e;
}

.contact-area {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  padding: 0 2rem;
}

#contact-head {
  font-family: 'Caveat', sans-serif;
  font-size: 7rem;
  width: 18rem;
  margin: 0;
  padding: 3rem 10rem 2rem 10rem; 
}

.contact-type {
  font-family: 'Caveat', sans-serif;
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
}

.contact-p {
  margin: 0;
}

a:hover {
  color: #ccaa7c;
}

.contact-details {
  margin: 0 16rem 0 0;
  width: 25rem;
}

/* contact-wrap */
.contact-wrap {
  border-bottom: 1px solid #4a453e;
  margin: 3rem 0;
}

/* each div place setting */
.contact-card {
  margin: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* button */
.contact-btn {
  padding: 8px 16px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #4a453e;
  background: #dcc098;
  border-radius: 10px;
  border-color: #dcc098;
  box-shadow: 1px 1px 2px 1px #715e45; 
  cursor:pointer;
  transition: transform ease .15s;
}

.contact-btn:hover  {
  transform:scale(1.1);
}

.contact-btn:active {
  transform: scale(0.95);
  background: #cca66d;
}

/* phone-img  */
#phone-img {
  position: relative;
}

.icon {
  position: absolute;
  width: 23rem; 
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  top: 2.8rem;
  left: 2.7rem;
}

.phone-icon {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  object-fit: cover;
}

#phone {
  position: relative;
}

.phone-menu {
  font-family: 'Caveat', sans-serif;
  font-size: 1.8rem;
  position: absolute;
  text-align: center;
  bottom: 4rem;
  left: 2.8rem;
  right: 2.8rem;
  width: 18rem;
  height: 2.5rem;
  background-color: #e1c69e;
}

@media screen and (max-width: 1300px) {
  #contact-head {
    padding: 3rem 4rem; 
  }
}
@media screen and (max-width: 1200px) {
  .contact-details {
    margin: 0 8rem 0 0;
  }
}
@media screen and (max-width: 1000px) {
  #contact-head {
    font-size: 6rem;
    margin: 0 auto;
    padding: 0 10%;
  }
  
}
@media screen and (max-width: 800px) {
  .contact-area {
    display: flex;
    flex-direction: column-reverse;
    margin: 30px auto 0 auto;
    align-items: center;
    justify-content: center;
  }
  .contact-details {
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  #contact {
    padding: 0;
    width: 100%;
    margin: 0;
  }
  .contact-area {
    padding: 0;
  }
  #contact-head {
    font-size: 4rem;
    width: 180px;
  }
  #phone {
    width: 100%;
  }
  .icon {
    width: 80%;
    margin: 0 auto;
  }
  .phone-icon {
    width: 3.1rem;
    height: 3.1rem;
    margin: 12px;
  }
  .phone-menu {
    width: 17.95rem;
    left: 2.8rem;
    font-size: 1.5rem;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .contact-details {
    width: 300px;
  }
  .contact-type {
    font-size: 1.8rem;
  }
  .contact-btn {
    padding: 6px 10px;
    margin-left: 20px;
  }
  .contact-wrap {
    margin: 1.5rem 0;
  }
  .contact-card {
    margin: 20px;
  }
}