.effort {
  font-family: 'Quicksand', sans-serif;
  background-color: #fffcf5;
  color: #4a453e;
  padding: 2rem 0rem;
}

#headline {
  font-family: 'Caveat', sans-serif;
  margin: 0 19%;
}

#headline h1 {
  font-size: 8rem;
  margin: 0;
  font-weight: 400;
}

.effort-detail {
  margin: 5% 10%;
  font-size: 1.25rem;
  line-height: 35px;
  font-weight: 500;
  /* background-color: #f3f0e8; */
}

/* video collection */
#video-collection {
  width: auto;
  height: auto;
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3% 4%;
}

.video-box {
  width: 350px;
  height: auto;
  border: 1px solid #4a453e;
  padding: 10px 30px;
  margin: 10px 30px;
  font-size: 16px;
  border: none;
}
.video-box p {
  font-size: 1rem;
}

.vlog-img {
  height: 200px;
  width: auto;
}

/* Zoom In #1 */
.vlog-img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.vlog-img:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* YOUTUBE VIDEO */
.youtube {
  position: relative;
  height: 600px;
  margin: 5% 0;
  background-color: #4a453e;
  overflow: hidden;
}
.youtube .youtube__area {
  width: 1920px;
  /* based on Full HD */
  position: absolute;
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
}
.youtube .youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  /* we calculate on codepen, cf)/coding */
} 
#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1500px) {
  #headline {
    margin: 0 15%;
  }
  .video-box {
    width: 270px;
    padding: 10px 20px;
  }
  .vlog-img {
    width: 280px;
    height: 170px;
  }
}
@media screen and (max-width: 1400px) {
  #headline {
    margin: 0 21%;
  }
  #headline h1 {
    font-size: 6rem;
    font-weight: 400;
  }
  .video-box {
    width: 270px;
    padding: 10px 30px;
  }
  .youtube {
    height: 400px;
    margin: 2% 0;
    background-color: transparent;
  }
  .youtube .youtube__area {
    width: 70%;
    height: 100%;
    left: 13%;
    /* based on Full HD */
    margin: 0% auto;
    top: 8%;
  }
}
@media screen and (max-width: 1200px) {
  #headline {
    margin: 0 12%;
  }
  #headline h1 {
    font-size: 6rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 940px) {
  #headline h1 {
    font-size: 5rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 750px) {
  #headline {
    margin: 0 7%;
  }
  #headline h1 {
    font-size: 4rem;
    font-weight: 400;
  }
  .effort-detail {
    font-size: 1.13rem;
  }
  .youtube {
    height: 300px;
  }
}

@media screen and (max-width: 450px) {
  .effort {
    padding: 0.7rem 0;
  }
  #headline {
    margin: 0 15%;
  }
  #headline h1 {
    font-size: 2.3rem;
    font-weight: 400;
  }
  .youtube {
    height: 200px;
    margin: 2% auto;
  }
  .youtube .youtube__area {
    width: 70.5%;
    height: 98%;
    /* based on Full HD */
    margin: 0% 1.3%;
    top: 8%;
  }
  .effort-detail {
    font-size: 1.07rem;
  }
}